%h4 Show

%table
  %tbody
    %tr
      %th Title
      %td= widget.title
    %tr
      %th Description
      %td= widget.description
    %tr
      %th Active?
      %td= widget.active?
    %tr
      %th Created
      %td= widget.created_at
    %tr
      %th Updated
      %td= widget.updated_at